.btn {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 40px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.btn.accept {
  background-color: #16a34a;
}
.btn.accept:hover {
  background-color: #15803d;
}
.btn.decline {
  background-color: #dc2626;
}
.btn.decline:hover {
  background-color: #b91c1c;
}
.btn.retour {
  background-color: #2563eb;
}
.btn.retour:hover {
  background-color: #1d4ed8;
}
