* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
p {
  margin: 0;
}
.AppHeader {
  width: 100%;
  height: 100vh;
  display: flex;
}
.AppHeaderLeft {
  width: 300px;
  height: 100%;
  background-color: #79ebf1;
}
.AppHeaderRight {
  width: calc(100% - 300px);
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .AppHeaderLeft {
    width: 100px;
  }
  .AppHeaderRight {
    width: calc(100% - 100px);
  }
}
